<div class="text-center mb-4">
    <h5><strong>JS Questions</strong></h5>
    <p class="text-muted">Complete all 5 questions in this section</p>
  </div>
<form [formGroup]="form">

    <section>     
      <div class="preview-section">
        <span label>
            <span class="question-number">1</span>What does JS stand for?
          </span>
        <ui-text-input 
          placeholder="Type your answer here...."
          formControlName="question1"
          [(value)]="textValue">
        </ui-text-input>
        <lib-ui-button variant="primary" (click)="submitQuestion(section)"
        [disabled]="!form.get('question1')?.value">Submit</lib-ui-button>
      </div>
    </section>
    <section [formGroup]="form">
        <div class="preview-section">
          <span label>
            <span class="question-number">2</span> Which function is used to print something in the console?
          </span>
          <div class="radio-group">
            @for (option of radioOptions1; track option.value) {
              <ui-radio
                [label]="option.label"
                [value]="option.value"
                [name]="'question2'"
                formControlName="question2">
              </ui-radio>
            }
          </div>
      
          <lib-ui-button
            variant="primary"
            (click)="submitQuestion(section)"
            [disabled]="!form.get('question2')?.value">
            Submit
          </lib-ui-button>
        </div>
      </section>

    <section>     
        <div class="preview-section">
          <span label>
            <span class="question-number">3</span> What is a JavaScript closure?
          </span>
          <ui-text-input 
            placeholder="Type your answer here...."
            formControlName="question3"
            [(value)]="textValue">
          </ui-text-input>
          <lib-ui-button variant="primary" (click)="submitQuestion(section)"
          [disabled]="!form.get('question3')?.value">Submit</lib-ui-button>
        </div>
      </section>


      <section [formGroup]="form">
        <div class="preview-section">
          <span label>
            <span class="question-number">4</span> Which method is used to add an element at the end of an array?
          </span>
          <div class="radio-group">
            @for (option of radioOptions2; track option.value) {
              <ui-radio
                [label]="option.label"
                [value]="option.value"
                [name]="'question4'"
                formControlName="question4">
              </ui-radio>
            }
          </div>
      
          <lib-ui-button
            variant="primary"
            (click)="submitQuestion(section)"
            [disabled]="!form.get('question4')?.value">
            Submit
          </lib-ui-button>
        </div>
      </section>
  
  
      <section [formGroup]="form">
        <div class="preview-section">
          <span label>
            <span class="question-number">5</span> Which of the following are JavaScript data types?
          </span>
          <div class="checkbox-group">
            @for (option of checkboxOptions; track option.value) {
              <ui-checkbox
                [label]="option.label"
                [value]="option.value"
                formControlName="question5">
              </ui-checkbox>
            }
          </div>
          <lib-ui-button
            variant="primary"
            (click)="submitQuestion(section)"
            [disabled]="!form.get('question5')?.value?.length">
            Submit
          </lib-ui-button>
        </div>
      </section>
  </form>
  