.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background-color: var(--background-color);
  color: var(--text-color);
}

.theme-toggle {
  margin-left: auto;
  margin-right: 1rem;
  
  .btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    i {
      font-size: 1.2rem;
    }
  }
}
